@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

$zero: 0;
$background: rgb(214, 90, 90);
$hund: 100%;
$center: center;
$fontfam:'Inconsolata', monospace;
$cmargin: 15%;
$grid1fr: 1fr 1fr 1fr 1fr 1fr 1fr;
$tenpx: 10px;