@import '_base';

* {
    margin: $zero;
    padding: $zero;
    box-sizing:border-box
}

body {
    background: $background;
    font-family: $fontfam;
}
/*Home*/
header {
    position: relative;
    width: $hund;
    height: 100vh;
    overflow: hidden;
    background: $color;

    #background{
        position: absolute;
        top: $zero;
        left: $zero;
        width: $hund;
        height: $hund;
        background-image: url(/images/melaughing.jpg);
        background-repeat: no-repeat;
        background-size: 40em;
    }
    h1{
        text-align: left;
        padding-left: 2em;
        padding-top: 2.5em;
    }
}

#background
{
    text-align: $center;
    font-size: 3em;
}

.contain{
    margin: center;
    padding-left: $twenpx;
    padding-right: $twenpx;
    padding-bottom: 150px;
}

.profile{
    padding-top: 100px;
    color: #f7f7f7;

    h1{
        font-size: 3em;
        padding-bottom: $tenpx;
    }
    p{
        font-size: 1.2em;
        text-align: justify;
        margin: center;
    }
}

.pfp {
    float: left;
    margin-right: 25px;
    width: 250px;
    box-shadow: 1px 1px 7px black;
}

/* About Me */
.container{
    padding-left: 5.3em;
    background-color: black;
}
h3{
    margin: auto;
    padding-top: 1em;
    text-align: center;
    color: $color;
    font-size: 4.6em;
}

/*Contact*/
.contactcontatiner{
    display: grid;
    grid-template-rows: $grid1fr;
    margin-left: $cmargin;
    margin-right: $cmargin;
    margin-top: 2.5%;
    margin-bottom: 9%;
    padding-top: $twenpx;
    padding-bottom: 3.5em;
    border: 2px rgb(56, 56, 56) solid;
    background-color: $grey;
    font-size: $twenpx;
    color: $color;
    text-align: $center;
    grid-row-gap: $tenpx;

    i{
        font-size: 30px;
    }

    a{
        margin: auto;
        padding: 0px !important;
    }
    p{
        margin: auto;
    }
}
.myemail .mygit .myinsta .mydiscord .myphone .myspotify div{
    padding-bottom: $tenpx;
}
svg{
    color: $color;
}

/* footer */
footer {
    display: grid;
    justify-content: space-around;
    align-content: $center;
    text-align: $center;
    margin: $center;
    color: $color;
    font-size: 1.4em;
  }
  .containers {
      padding-right: 15em;
      padding-left: 15em;
      padding-bottom: 5em;
  }
  
.padding{
    padding-bottom: 5em;
}

/* responsive changes*/
@media screen and (max-width: 768px) {

      /* less dramatic margins for smaller screens */
  .profile {
    padding-right: 50px;
    padding-left: 50px;
  }

  .pfp {
    float: none;
    margin: auto;
  }
}