@import '_base';

* {
    margin: $zero;
    padding: $zero;
    box-sizing:border-box
}

body {
    background: $background;
    font-family: $fontfam;
}

header {
    position: relative;
    width: $hund;
    height: 100vh;
    overflow: hidden;
    background: $background;

    #background{
        position: absolute;
        top: $zero;
        left: $zero;
        width: $hund;
        height: $hund;
        background: url(images/melaughing.jpg)
    }
    h1{
        padding-top: 50px;
    }
}

#background
{
    text-align: $center;
    font-size: 3em;
}
